<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Пример Spring Security</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        
        <p>Кликните <a th:href="@{/routes}">маршруты</a>, если Вы - CLIENT.</p>
        <p>Кликните <a th:href="@{/payments}">платежи</a>, если Вы - CLIENT.</p>
        <p>Кликните <a th:href="@{/registerClient}">здесь</a>, если Вы - MANAGER .</p>
        <p>Кликните <a th:href="@{/registerManager}">здесь</a>, если Вы - ADMIN.</p>

        <p> <a th:href="@{/css}">css</a> </p>
        <p> <a th:href="@{/img}">img</a> </p>

    </body>
</html>